
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: vspherecloudconfigs.vdo.vmware.com
spec:
  group: vdo.vmware.com
  names:
    kind: VsphereCloudConfig
    listKind: VsphereCloudConfigList
    plural: vspherecloudconfigs
    singular: vspherecloudconfig
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VsphereCloudConfig is the Schema for the vspherecloudconfigs
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VsphereCloudConfigSpec defines the desired state of VsphereCloudConfig
            properties:
              credentials:
                description: Credentials refers to the name of k8s secret storing
                  the VC creds
                type: string
              datacenters:
                description: datacenters refers to list of datacenters on the VC which
                  the configured user account can access
                items:
                  type: string
                type: array
              insecure:
                description: Insecure flag determines if connection to VC can be insecured
                type: boolean
              thumbprint:
                description: thumbprint refers to the SSL Thumbprint to be used to
                  establish a secure connection to VC
                type: string
              vcIp:
                description: VCIP refers to IP of the vcenter which is used to configure
                  for VDO
                type: string
            required:
            - credentials
            - datacenters
            - insecure
            - vcIp
            type: object
          status:
            description: VsphereCloudConfigStatus defines the observed state of VsphereCloudConfig
            properties:
              config:
                description: Config represents the verification status of VDO configuration
                enum:
                - verified
                - failed
                type: string
              message:
                description: Message displays text indicating the reason for failure
                  in validating VDO config
                type: string
            required:
            - config
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
